```
# Database files
*.sqlite

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.venv*/
.ENV
.env
.env.*
.env.local
.env.production
.python-version
.python_history
.python-eggs
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git/modules/
.DS_Store
```